<% layout("./layout/BoilerPlate") %>
<div class="row">
  <h1 class="text-center">Edit Daycare <%=daycare.title %></h1>
  <div class="col-6 offset-3">
    <form
      action="/daycares/<%= daycare.id  %>?_method=put"
      method="post"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="daycare[title]"
          value="<%= daycare.title %>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="daycare[location]"
          value="<%=daycare.location  %>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Add images</label>
        <input
          class="form-control"
          type="file"
          id="image"
          name="image"
          multiple
        />
      </div>

      <div class="mb-3">
        <% daycare.image.forEach((img,i)=>{ %>
        <img
          class="img-thumbnail"
          src="<%= img.thumbnail %>"
          alt="image of daycare"
        />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="<%= i %>"
            name="deleteImages[]"
            value="<%= img.filename %>"
          />
        </div>
        <label for="<% i %>">delete</label>
        <% }) %>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="daycare[description]"
          rows="5"
          required
        >
        <%= daycare.description%>
      </textarea
        >
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="infant-label">Infant:&nbsp</span>
          <input
            class="form-control"
            type="text"
            id="infant-price"
            name="daycare[price][]"
            area-label="infant-label"
            value="<%=daycare.price[0]  %>"
            required
          />
          <span class="input-group-text" id="toddler-label">Toddler: </span>
          <input
            class="form-control"
            type="text"
            id="toddler-price"
            name="daycare[price][]"
            area-label="toddler-label"
            value="<%=daycare.price[1]  %>"
            required
          />
        </div>
        <div class="input-group mt-3">
          <span class="input-group-text" id="twos-label">Threes: </span>
          <input
            class="form-control"
            type="text"
            id="threes-price"
            name="daycare[price][]"
            area-label="threes-label"
            value="<%=daycare.price[2]  %>"
            required
          />
          <span class="input-group-text" id="prek-label"
            >Pre-K:&nbsp&nbsp&nbsp</span
          >
          <input
            class="form-control"
            type="text"
            id="prek-price"
            name="daycare[price][]"
            area-label="prek-label"
            value="<%=daycare.price[3]  %>"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">update daycare</button>
      </div>
    </form>
    <a href="/daycares/<%= daycare.id %>"> back to daycare</a>
    <a href="/daycares">All Daycare</a>
  </div>
</div>
